@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<h1 style="font-size: 50px; color: rgb(52, 92, 233);">VisualServer</h1>

<h3 style="font-size: 35px;">This is a web application to visualize the GPS points and the trips we matched</h3>

<h3 style="font-size: 30px;">This is the home page.</h3>

<p>
    <a style="font-size: 22px; color: rgb(234, 75, 18)">To see the GPS on map, click the</a>
    <a style="font-size: 22px; color: rgb(209, 18, 234)">"Show GPS"</a>
    <a style="font-size: 22px; color: rgb(234, 75, 18)">tag in the navigator on the left or</a>
    <a style="font-size: 22px; color: rgb(92, 126, 236)" href="/showgpsandtrip">click here</a>
</p>

@* <p>
    <a style="font-size: 22px; color: rgb(234, 75, 18)">To see the trips on map, click the</a>
    <a style="font-size: 22px; color: rgb(209, 18, 234)">"Show Trip"</a>
    <a style="font-size: 22px; color: rgb(234, 75, 18)">tag in the navigator on the left or</a>
    <a style="font-size: 22px; color: rgb(92, 126, 236)" href="/showtrip">click here</a>
</p> *@
